/* Footer */

.footer {
  background: var(--pink-light);
  padding: 60px 0;
}

.footer.footer-dark,
.footer.footer-dark a,
.footer.footer-dark hr,
.footer.footer-dark .footer__logo-wrapper span {
  background: var(--dark);
  color: var(--white);
  opacity: 1;
}

.footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer__logo-wrapper img {
  width: 88px;
  height: auto;
}

.footer__logo-wrapper span {
  color: var(--black);
  font-weight: bold;
  font-size: 50px;
  line-height: 1;
  padding-left: 10px;
}

.footer__company-info {
  margin-bottom: 30px;
}

.footer__site-map {
  display: flex;
}


.footer__site-map__col {
  padding: 0 40px;
}

.footer__site-map .footer__site-map__col:nth-child(1) {
  padding-left: 0;
}

.footer__site-map .footer__site-map__col:nth-child(3) {
  padding-right: 0;
}

.footer__site-map__col h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__site-map__col ul {
  list-style: none;
  padding: 0;
}

.footer__site-map__col ul a {
  color: var(--black);
  font-weight: normal;
}

.footer__site-map__col ul li {
  padding-bottom: 5px;
}