/*  t104 Theme Styles */

/* Includes some minor Bootstrap overrides */

/* --- Bootstrap Breakpoints --- */
/* Taken from: https://getbootstrap.com/docs/5.0/layout/breakpoints/ */

/* Use only these widths for media queries */
/* Can only be copied manually with plain CSS, no support for variables in media queries yet */

/*
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
*/
/* --- Chat vs Cookies position --- */
body.noaccept #chat-widget-container {
  bottom: 75px !important;
}
body.noaccept.accept #chat-widget-container,
body.accept #chat-widget-container {
  bottom: 0 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@media(min-width: 630px) and(max-width: 767px) {
  body.noaccept #chat-widget-container {
    bottom: 110px !important;
  }
}
@media(min-width: 455px) and(max-width: 629px) {
  body.noaccept #chat-widget-container {
    bottom: 0 !important;
  }
  #cookie-bar .text-center {
    text-align: left !important;
  }
}
@media(max-width: 767px) {
  #cookie-bar #accept-cookies {
    margin-top: -8px;
  }
  #cookie-bar {
    padding-top: 24px;
  }
}
@media(max-width: 454px) {
  body.noaccept #chat-widget-container {
    bottom: 135px !important;
  }
  #cookie-bar .text-center {
    padding-left: 0;
    padding-right: 0;
  }
}

#cookie-bar:hover {
  z-index: 2147483640 !important;
}

/* Cookie Bar */

#cookie-bar {
  position: fixed;
  bottom: 0;
  background-color: var(--white);
  z-index: 100;
}
#cookie-bar .col {
  font-size: 16px;
}
@media screen and(max-width: 767px) {
  .button {
    margin: 0 auto;
  }
}

header,
body,
footer {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
}

h1 {
  color: var(--pink);
  font-weight: bold;
}

h2,
h4 {
  font-weight: bold;
}

em {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--pink);
  font-style: normal;
}

a:hover {
  color: var(--pink);
}

a:not(.button) {
  color: var(--pink);
  font-weight: bold;
  text-decoration: none;
}

a:not(.button):hover {
  color: var(--pink) !important;
}

.button {
  display: block;
  color: var(--white);
  background: var(--pink-gradient);
  width: fit-content;
  padding: 10px 35px;
  border-radius: 77px;
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
  text-decoration: none;
  appearance: none;
  border: none;
}

.button.button-white {
  background: var(--white);
  color: var(--pink);
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.button.button-small {
  font-size: 16px;
}

.button.button-transparent {
  background: var(--white);
  border: 1px solid var(--pink);
  color: var(--pink);
}

.button.button-wider {
  padding-left: 5rem;
  padding-right: 5rem;
}

.button.button-filter {
  font-size: 16px;
  background: var(--white);
  border: 1px solid var(--gray);
  color: var(--black);
  height: 40px;
  padding: 5px 30px;
}

/* Application Buttons */

.app-button {
  display: block;
  margin: 0 24px;
  position: relative;
}

.app-button__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -18px;
  top: -2px;
  color: var(--white);
  background-color: var(--pink);
  font-weight: bold;
  border-radius: 50%;
  z-index: 1000;
}

.app-button p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  color: var(--gray);
  font-weight: normal;
  padding-top: 5px;
}


.app-button__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--white);
  /* Default box shadow */
  -webkit-box-shadow: 0 2px 4px 0 rgba(31, 18, 18, 0.25);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.1s transform  ease-in;
}

.app-button__circle img {
  max-width: 34px;
  max-height: 34px;
  width: 100%;
  height: auto;
  transition: 0.1s transform  ease-in;
}

.app-button__circle.circle-pink {
  background: var(--pink-gradient);
}

.app-button__circle.icon-heart img {
  width: 25px;
  height: auto;
}

.app-button__circle.icon-profilepic,
.app-button__circle.icon-coin {
  overflow: hidden;
}

.app-button__circle.icon-profilepic {
  border: 3px solid var(--pink);
}

.app-button__circle.icon-profilepic img,
.app-button__circle.icon-coin img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.app-button:hover .app-button__circle {
  transform: scale(105%);
}

.app-button:hover .app-button__circle img {
  transform: scale(110%);
}

/* Common components */

.trait-group {}

.trait-group ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trait-group ul li {
  background-color: var(--white);
  border: 1px solid var(--pink);
  color: var(--pink);
  border-radius: 25px;
  font-size: 14px;
  margin: 8px 5px;
  transition: all 0.2s;
  padding: 10px 30px; 
}


.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-button {
  background-color: var(--white);
  border: 1px solid var(--pink);
  color: var(--pink);
  border-radius: 25px;
  font-size: 14px;
  margin: 8px 5px;
  transition: all 0.2s;
  padding: 10px 30px;
  text-transform: uppercase;
}

.tab-button.tab-button-active,
.tab-button:hover {
  background: var(--pink-gradient);
  color: var(--white) !important;
}

/* Header */

.header {
  position: relative;
  padding: 25px 0 0;
  width: 100%;
  -webkit-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
}

.header-mnml {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 1000;
}

.header-mnml + section {
  padding-top: 190px;
}

.header + section {
  padding-top: 90px;
}

.header-mnml .header-mnml__container {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 0;
  margin-top: 0;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__logo-wrapper img {
  width: 50px;
  height: auto;
}

.header__logo-wrapper span {
  color: var(--black);
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  padding-left: 10px;
}

.header__nav-main-wrapper,
.header__nav-account-wrapper {
  display: flex;
}

.header__logo-ribbon {
  width: 156px;
  height: 190px;
  background: var(--white);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-mnml .header__logo-ribbon {
  position: absolute;
  left: 0;
  top: -5px;
}

.header__logo-ribbon-wrapper img {
  display: block;
  margin: 20px auto 0;
  width: 86px;
  height: auto;
}

.header__logo-ribbon-wrapper span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto 0;
}

.header-mnml .header__login {
  position: absolute;
  right: 0;
  top: 20px;
}

@media screen and (max-width: 575px) {
  .header__logo-ribbon {
    width: 126px;
    height: 150px;
  }

  .header-mnml .header__logo-ribbon {
    left: 5px;
  }

  .header-mnml .header__login {
    right: 5px;
  }

  .header__logo-ribbon-wrapper span {
    font-size: 17px;
  }

  .header__logo-ribbon-wrapper img {
    width: 45%;
  }
}

/* Footer */

.footer {
  background: var(--pink-light);
  padding: 60px 0;
}

.footer.footer-dark,
.footer.footer-dark a,
.footer.footer-dark hr,
.footer.footer-dark .footer__logo-wrapper span {
  background: var(--dark);
  color: var(--white);
  opacity: 1;
}

.footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer__logo-wrapper img {
  width: 88px;
  height: auto;
}

.footer__logo-wrapper span {
  color: var(--black);
  font-weight: bold;
  font-size: 50px;
  line-height: 1;
  padding-left: 10px;
}

.footer__company-info {
  margin-bottom: 30px;
}

.footer__site-map {
  display: flex;
}


.footer__site-map__col {
  padding: 0 40px;
}

.footer__site-map .footer__site-map__col:nth-child(1) {
  padding-left: 0;
}

.footer__site-map .footer__site-map__col:nth-child(3) {
  padding-right: 0;
}

.footer__site-map__col h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__site-map__col ul {
  list-style: none;
  padding: 0;
}

.footer__site-map__col ul a {
  color: var(--black);
  font-weight: normal;
}

.footer__site-map__col ul li {
  padding-bottom: 5px;
}

/* Sign up section */

.signup-section {
  padding: 30px 0 60px;
}

.signup-section__text {
  padding-top: 90px;
  max-width: 440px;
}

.signup-section__text h2 {
  color: var(--pink);
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.signup-section__text h4 {
  margin-top: 30px;
}

/* Sign up form */

.signup-section__form-wrapper {
  border-radius: 17px;
  padding: 50px 100px;
  background: var(--white);
  -webkit-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
}

.signup-section__form {
  min-width: 435px;
}

@media screen and (max-width: 1400px) {
  .signup-section__form-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .signup-section__form {
    min-width: unset;
    width: 100%;
  }

}

.signup-section__form button[type="submit"] {
  width: 100%;
  text-transform: uppercase;
  margin: 20px 0;
}

.signup-section__form hr {
  margin: 40px 0 30px;
}

.signup-section__form h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.signup-section .select select {
  border-radius: 0.375em;
  border: 1px solid var(--gray-light-2);
}

/* Form Elements */

.form-element {
  display: flex;
  margin-bottom: 15px;
}

.form-element.stacked {
  display: block;
}

.form-element:not(.stacked) > div:nth-child(1) {
  flex-basis: 35%;
}

.form-element:not(.stacked) > div:nth-child(2) {
  flex-basis: 70%;
}

.form-element.stacked .form__select .select {
  width: 100%;
}

.form-label {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-weight: bold;
  margin: 0;
}

.input-search {
  display: flex;
  border-radius: 48px;
  border: 1px solid var(--gray-light);
  padding: 0 10px;

}

.input-search .form-control {
  border: none;
} 

.input-search button {
  appearance: none;
  border: none;
  background: transparent;
}

/* Custom Radio Buttons */

.radio-buttons {
  background: transparent;
  padding: 4px 0;
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.radio-buttons.radio-buttons-gender {
  width: 100%;
  justify-content: space-around;
}

.radio-buttons input {
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 20px;
  flex: 1;
  text-align: center;
  margin: 0 2px;
  background: var(--white);
  border-radius: 77px;
  font-size: 14px;
  color: var(--dark);
  transition: all 0.1s;
  border: 1px solid var(--gray-2);
}

.radio-buttons.radio-buttons-gender input {
  display: block;
  width: 82px;
  height: 82px;
  background: var(--gray-light);
  border: none;
  position: relative;
}

.radio-buttons.radio-buttons-gender .radio-button__container label {
  display: block;
  text-align: center;
  width: 100%;
}

.radio-buttons input:checked {
  background: var(--pink-gradient);
  color: var(--white);
  border: none;
}

.radio-buttons input::before {
  content: attr(label);
  text-align: center;
}

.radio-buttons.radio-buttons-gender input:checked:before {
  filter: invert(100);
}

.radio-buttons.radio-buttons-gender input::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.radio-buttons.radio-buttons-gender input[value="male"]::before {
  background-image: url('/img/icon--man.png');
  background-size: 30px;
}

.radio-buttons.radio-buttons-gender input[value="female"]::before {
  background-image: url('/img/icon--woman.png');
  background-size: 36px;
}

.radio-buttons.radio-buttons-gender input[value="other"]::before {
  background-image: url('/img/icon--bisexual.png');
  background-size: 26px;
}


/* Custom single Checkbox */

.form-checkbox {
  margin-bottom: 10px;
}

label.checkbox {
  margin-right: 1rem;
  padding-left: 1.75rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox input[type=checkbox]:focus ~ span {
  border: 2px solid #aab0b9;
}

label.checkbox input[type=checkbox]:focus:checked ~ span {
  border: 2px solid #20644c;
}

label.checkbox input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #329E78 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+') 50% 40% no-repeat;
  border: 4px solid #329E78;
}

label.checkbox span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 2px;
  width: 1rem;
  height: 1rem;
  background-color: var(--gren);
  border: 2px solid #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Custom Checkbox Group */

ul.ks-cboxtags {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.ks-cboxtags li {
  display: inline;
}

ul.ks-cboxtags li label {
  display: inline-block;
  background-color: var(--gray-light);
  border: none;
  color: var(--gray-2);
  border-radius: 25px;
  white-space: nowrap;
  font-size: 14px;
  margin: 8px 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  padding: 10px 30px;
  cursor: pointer;
}

/* Leaving here just in case someone needs to add a before to these */

/*ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}*/

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: none;
  background: var(--pink-gradient);
  color: #fff;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: none;
}

/* Select */

.select {
  position: relative;
  min-width: 200px;
}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: var(--gray-2);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.peoples__filter-select .select select,
.profile__info__more .select select {
  border-radius: 48px;
  border: 1px solid var(--gray-light);
}

.select select:required:invalid {
  color: var(--gray-2);
}

.select select option {
  color: var(--gray-2);
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: var(--pink);
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}

.select select:hover + svg {
  stroke: var(--pink);
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}


/* Double Range */

.range {
    
}

.range-slider {
  height: 2px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
  width: 400px;
}

.range-selected {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--pink);
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--pink);
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-price label {
  margin-right: 5px;
}

.range-price input {
  width: 40px;
  padding: 5px;
}

.range-price input:first-of-type {
  margin-right: 15px;
}


/* Sign Up Quiz */

.signup-quiz {
  display: grid;
  place-items: center;
  background: var(--pink-light);
  min-height: calc(100vh);
}

.signup-quiz__wrapper {
  /*height: 615px;*/
  width: 730px;
  background: var(--white);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .signup-quiz {
    padding: 0 15px;
  }

  .signup-quiz__wrapper {
    width: 100%;
  }
}

.signup-quiz__header {
  text-align: right;
  padding: 40px 45px 40px 0;
  font-size: 16px;
}

.signup-quiz__progress-bar {
  width: 100%;
  height: 6px;
  position: relative;
}

.signup-quiz__progress-bar span:nth-child(1) {
  display: block;
  background: var(--gray-light);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.signup-quiz__progress-bar span:nth-child(2) {
  background: var(--pink-gradient);
  height: 100%;
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: 0.6s width cubic-bezier(0.28,.72,0.92,.48);
}

.signup-quiz__main {
  display: flex;
  padding: 50px 45px 20px 45px;
  height: 100%;
  min-height: 345px;
}

.signup-quiz__main__content h4 {
  margin-bottom: 30px;
  text-align: center;
}


.signup-quiz__main-wrapper {
  width: 100%;
  height: 100%;
}

.signup-quiz__main__content {}

.signup-quiz__main__content .radio-buttons-gender {
  padding-top: 40px;
}

.signup-quiz__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-light);
  height: 170px;
}

.signup-quiz__footer__button .button {
  width: 400px;
}

.signup-quiz__footer__skip {
  text-align: center;
}

.signup-quiz__footer__skip button {
  appearance: none;
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--gray);
}


/* Peoples page */

.header + section.peoples {
  padding-top: 90px;
}

.peoples__grid {
  padding-top: 60px;
}

.peoples__grid-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 45px;
  justify-items: center;
  margin-bottom: 70px;
}


@media screen and (max-width: 1399px) {
  .peoples__grid-row {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
}

@media screen and (max-width: 991px) {
  .peoples__grid-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .peoples__grid-row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .peoples__grid-row {
    grid-template-columns: 1fr;
  }
}

.peoples__filter-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.peoples__filter-label {
  font-weight: bold;
  padding-left: 30px;
}

.peoples__filter-select {
  margin: 0 15px;
}

.peoples__filter-range {
  display: flex;
  align-items: center;
  padding: 7px 5px 7px 12px;
  color: var(--gray-2);
  border: 1px solid var(--gray-light);
  border-radius: 48px;
  background: var(--white);
}

.peoples__filter-range__label {
  padding: 0 15px;
}

.peoples__filter-range__numbers {
  width: 60px;
  margin:0 15px;
}

.range_container {
  display: flex;
  width: 400px;
  flex-direction: column;
  
}

.sliders_control {
  position: relative;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}


/* Double Slider End */

.peoples__filter-button {
  padding: 0 15px;
}

.peoples__item-col {
  max-width: 190px;
  width: 100%;
}

.peoples__item {
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 52px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .peoples__item-col {
    max-width: unset;
  }
}

@media screen and (max-width: 767px) {
  .peoples__item-col {
    margin: 30px auto;
    width: 100%;
    max-width: unset;
  }
}

.peoples__item-image img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.peoples__item-buttons {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}

.peoples__item-buttons .app-button {
  margin: 0 5px;
}

.peoples__item-buttons .app-button__circle {
  width: 45px;
  height: 45px;
}

.peoples__item-buttons .app-button__circle img {
  width: 24px;
}

.peoples__item-buttons .app-button__circle.icon-heart img {
  width: 18px;
}

.peoples__item-buttons .app-button__circle.icon-close img {
  width: 16px;
}

.peoples__item-info {
  padding: 20px 10px 20px 10px;
}

.peoples__item-name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.peoples__item-status {
  display: block;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--green);
  margin-right: 6px;
  margin-top: 3px;
}

.peoples__item-status.offline {
  background: var(--red);
}

.peoples__item-name h5 {
  line-height: 1;
  margin: 0;
  font-size: 15px;
}

.peoples__item-location {
  color: var(--gray-2);
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}


/* Profile Area */

.profile {
  padding-bottom: 60px;
}

.profile__info {
  /* height: 100%; */
}

.profile__pictures h5,
.profile__info__section h5,
h5.title-small {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.profile__pictures__sidebar {
  padding: 20px 0;
}

.profile__pictures__main {
  width: 100%;
  height: 280px;
  max-width: 300px;
  max-height: 300px;
  min-height: 200px;
  min-width: 200px;
}

.profile__pictures__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  max-width: 300px;
}

.profile__pictures__main-add {
  width: 100%;
}

.profile__pictures__main-add button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px auto 0 auto;
  z-index: 1000;
  position: relative;
  background: var(--white);
  border: none;
  appearance: none;
  border-radius: 47px;
  width: 85%;
  height: 60px;
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  transition: 0.2s transform ease-in;
}

.profile__pictures__main-add button:hover {
  transform: translateY(-3px);
}

.profile__pictures__main-add button span {
  margin-right: 10px;
}

.profile__pictures__main-add button span img {
  width: 26px;
  height: auto;
}

.profile__pictures__sidebar img {
  border-radius: 8px;
}

.profile__pictures__sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  justify-content: space-between;
}

.profile__pictures__sidebar > div {
  max-width: 145px;
  max-height: 145px;
}

.profile__pictures__sidebar__img {
  position: relative;
}

.profile__pictures__delete__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  color: var(--pink);
  background-color: var(--white);
  font-weight: bold;
  border-radius: 50%;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px 0 rgba(31, 18, 18, 0.25);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}


.profile__pictures__sidebar__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 145px;
}

.profile__pictures__sidebar__add button {
  display: block;
  width: 100%;
  height: 145px;
  border: none;
  appearance: none;
  background: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 8px;
}

.profile__pictures__sidebar__add button span {
  display: block;
  margin-bottom: 6px;
}

.profile__main > .profile__info:nth-child(1) {
  z-index: 10;
}

.profile__main > .profile__info:nth-child(2) {
  z-index: 20;
}

.profile__main > .profile__info:nth-child(3) {
  z-index: 30;
}

.profile__main > .profile__info:nth-child(4) {
  z-index: 40;
}


.profile__info,
.profile__sidebar {
  position: relative;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
}


.profile__info__header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-light-2);
  flex-wrap: wrap;
}

.profile__info__more .form__select {
  padding: 10px 0;
}

.profile__info__save button {
  margin: 0;
}

.profile__info__header h4 {
  font-size: 20px;
  margin: 0;
}

.profile__info__header span {
  margin: 0;
}

.profile__info__name {
  display: flex;
  align-items: center;
}

.profile__info__name h4 {
  font-weight: normal;
}

.profile__info__name .status {
  display: block;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--green);
  margin-right: 6px;
  margin-top: 3px;
}

.profile__info__name .status.offline {
  background: var(--red);
}

.profile__info__name .location {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}

.profile__info__name .location em {
  color: var(--gray);
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  margin-left: 2px;
}

.profile__info__body {
  padding: 30px;
}

.form-element__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  justify-content: space-between;
}

.profile__info__body .form-label {
  color: var(--black);
}

.profile__info__body .checkbox-group ul.ks-cboxtags {
  text-align: left;
  margin: 10px 0;
}

.profile__info__body ul.ks-cboxtags li label {
  margin-left: 0;
}

.profile__sidebar {

}

.profile__sidebar__header {
  display: flex;
  padding: 30px;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray-light-2);
}

.profile__sidebar__body {
  padding: 30px 30px 20px 30px;
  text-align: center;
}

.profile__sidebar__body button {
  margin: 30px auto 10px auto;
  width: 100%;

}

.profile__power-ups ul,
.profile__activity ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile__activity ul {
  width: 100%;
}

.profile__activity ul li {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.close {
  background: var(--pink);
  color: var(--white);
  appearance: none;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 0;
}

.alert-success {
  margin: 1em 0;
  border-radius: 36px;
  background: var(--white);
  border: 1px solid var(--pink);
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
}

/* Member */

.profile__pictures__actions {
  display: flex;
  justify-content: space-between;
}

.profile__pictures__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-basis: 48%;
  position: relative;
  background: var(--white);
  border: none;
  margin-top: -15px;
  appearance: none;
  border-radius: 47px;
  height: 50px;
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  transition: 0.2s transform ease-in;
}

.profile__pictures__actions button:hover {
  transform: translateY(-3px);
}

.profile__pictures__actions button:hover span img {
  transform: scale(110%);
}

.profile__pictures__actions button span {
  margin-right: 5px;
}

.profile__pictures__actions button span img {
  width: 20px;
  height: auto;
  transition: 0.2s transform ease-in;
}

.profile__pictures__sidebar.private-photos {
  filter:blur(11px);
}

.profile__info__section {
  margin: 20px 0;
}

.profile__message-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__message-box__img {
  flex-basis: 30%;
}

.profile__message-box__img img {
  width: 100%;
  height: auto;
}

.profile__message-box__text {
  text-align: center;
}

.profile__message-box__text button {
  margin: 0 auto;
}

/* Credits */

/* App card */

section.credits {
  background: var(--pink-light);
}

.app__card {
  background: var(--white);
  border-radius: 16px;
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  margin: 30px 0;
}

.app__card__body,
.app__card__footer {
  padding: 30px;
}

.app__card__footer {
  border-top: 1px solid var(--gray-light);
}


.credits-welcome__top {
  text-align: center;
}

.credits-welcome__top > * {
  padding: 5px 0;
}

.credits-welcome__plans-row {
  display: grid;
  grid-template-columns: repeat(2, 42%);
  column-gap: 10px;
  justify-content: center;
}

.credits-welcome__plan {
  border: 1px solid var(--gray-light);
  border-radius: 16px;
}

.credits-welcome__plan-header {
  padding: 15px;
  border-bottom: 1px solid var(--gray-light);
}

.credits-welcome__plan-header h4 {
  font-size: 18px;
}

.credits-welcome__plan-header p {
  font-size: 14px;
  margin: 0;
}

.credits-welcome__plan-body {
  padding: 20px 30px 60px 30px;
  
}


.credits-welcome__plan-body ul {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
}

.credits-welcome__plan-body ul li {
  font-size: 14px;
  line-height: 2;
}

.icon-small-coin img {
  width: 24px;
  height: auto;
}


/* Chat */

.chat__wrapper {
  display: flex;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 30px; 
  height: 90vh;
  -webkit-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 62px 0px rgba(0,0,0,0.15);
}

.chat__nav {
  flex-basis: 35%;
  position: relative;
  height: 90vh;
  border-right: 1px solid var(--gray-light);
}

.chat__conversation {
  flex-basis: 65%;
}

.chat__nav__header {
  padding: 30px 30px 10px 30px;
  border-bottom: 1px solid var(--gray-light);
  position: absolute;
  height: 200px;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--white);
  z-index: 20;
}

.chat__nav__header h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chat__nav__filter  .input-search {
  width: 100%;
}

.chat__nav__tabs.tab-buttons {
  flex-wrap: nowrap;
}

.chat__nav__tabs .tab-button {
  min-width: fit-content;
  flex: 1;
  padding: 8px 16px;
  white-space: nowrap;
  text-transform: none;
}

.chat__nav__threads {
  display: block;
  position: relative;
  overflow-y: scroll;
  padding-top: 200px;
  height: 100%;
  z-index: 10;
}

.chat__nav__threads ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat__nav__threads ul li {
  display: flex;
  align-items: center;
  padding: 30px;
  
  border-bottom: 1px solid var(--gray-light);
}

.chat__threads__picture {
  position: relative;
}

.chat__threads__picture img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.chat__threads__name {
  margin: 0 15px;
}

.chat__threads__name h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.chat__threads__name p {
  color: var(--gray);
  margin: 0;
}

.chat__threads__notification {
  justify-self: flex-end;
  margin: 0 0 0 auto;
}

.chat__threads__notification span {
  display: grid;
  place-items: center;
  line-height: 0;
  width: 30px;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  background: var(--pink-gradient);
  border-radius: 50%;
  color: var(--white);
}

.chat__threads__picture .status {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--green);
  border: 2px solid var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat__conversation {
  position: relative;
}

.chat__conversation__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  height: 100px;
  border-bottom: 1px solid var(--gray-light);
}

.chat__conversation__header__user {
  display: flex;
  align-items: center;
}

.chat__conversation__header__user figure {
  position: relative;
}

.chat__conversation__header__user figure img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.chat__conversation__header__user figure .status {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--green);
  border: 2px solid var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
}


.chat__conversation__header__user em {
  font-style: normal;
  text-transform: none;
  padding-left: 10px;
}

.chat__conversation__header__user em h4 {
  font-size: 18px;
  font-style: none;
  font-weight: normal;
  margin: 0;
}

.chat__conversation__header__user em p {
  color: var(--gray);
}

.chat__conversation__thread {
  height: calc(90vh - 260px);
  overflow-y: scroll;
}

.chat__conversation__thread ul {
  max-width: 90%;
}

.chat__conversation__thread ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.chat__conversation__thread ul li .usuario {
  width: 60px;
}

.chat__conversation__thread ul li .texto {
  width: 85%;
  padding: 20px 15px;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__conversation__thread ul li .texto.escribiendo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.chat__conversation__thread ul li .texto.escribiendo img {
  width: 40px;
}

.chat__conversation__thread ul.left {
  padding: 0 10px;
}

.chat__conversation__thread ul.left li:last-of-type .usuario {
  background: url("assets/user.svg") no-repeat;
  background-position: center left;
  background-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__conversation__thread ul.left li:last-of-type .usuario:after {
  /* content: ''; */
  display: block;
  height: 15px;
  width: 25px;
  right: -70%;
  background: url("assets/chat-arrow-white.svg") no-repeat;
  background-position: center center;
  position: relative;
}

.chat__conversation__thread ul.right {
  padding: 0;
  margin: 0 0 0 25%;
}

.chat__conversation__thread ul.right li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.chat__conversation__thread ul.right li .usuario {
  width: 30px;
}

.chat__conversation__thread ul.right li .texto {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  color: var(--black);
  text-align: left;
}

.chat__conversation__thread ul.right li:last-of-type .usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__conversation__thread ul.right li:last-of-type .usuario:before {
  /* content: ''; */
  display: block;
  height: 15px;
  width: 25px;
  left: -30%;
  background: url("assets/chat-arrow-green.svg") no-repeat;
  background-position: center center;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .chat__conversation__thread {
    height: 92.5vh;
  }
}

@media only screen and (min-width: 992px) {
  .chat__conversation__thread {
    min-width: 52vw;
    margin-left: auto;
    padding-bottom: 11vh;
    margin-top: 0;
  }
  .chat__conversation__thread ul li .texto {
    max-width: 78%;
    width: unset;
  }
  .chat__conversation__thread ul.right li .texto {
    display: block;
    width: unset;
  }
  .chat__conversation__thread ul.left li .texto {
    text-align: left;
    display: block;
  }
  .chat__conversation__thread ul.left li:last-of-type .usuario {
    background-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .chat__conversation__thread {
    padding-bottom: 22vh;
  }
}

@media only screen and (max-width: 576px) {
  .chat__conversation__thread {
    padding-bottom: 18vh;
  }
}

.chat__conversation__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 160px;
  width: 100%;
  padding: 10px 30px;
  border-top: 1px solid var(--gray-light);
}

.chat__conversation__footer__text-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__conversation__footer__text-input button {
  background: transparent;
  border: none;
  margin-right: 10px;
}

.chat__conversation__footer__text-input textarea {
  margin-top: 10px;
  width: 90%;
  height: auto;
  min-height: 35px;
  max-height: 100px;
  border: none;
}

.chat__conversation__footer__text-input textarea:focus-visible,
.chat__conversation__footer__text-input textarea:focus {
  appearance: none;
  outline: var(--pink) auto 1px;
}

.chat__conversation__footer__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__conversation__footer__actions > div:nth-child(1) {
  display: flex;
}